body{
    background-image: url(/images/background/technology-8028575_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.logo{
    
    width: 100px;    
}

footer{
    text-align: center;
    margin-top: 10rem;
    color: white;
    font-size: 0.8rem;
}
